/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
.mat-card-header .mat-card-title {
  font-size: 26px;
  color: rgba(8, 4, 80, 0.74);
}
.title-card-h {
  display: flex;
  justify-content: center !important;
  text-align: center !important;
}
.actions-header {
  display: flex;
  justify-content: right;
  padding: 10px 0px 10px 0px;
  max-height: 45px;
}
.mat-form-field-prefix .mat-icon {
  font-size: 150%;
  line-height: 1.7;
}
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.acciones-c {
  flex: 0 0 180px;
  gap: 6px;
  ::ng-deep .mat-mini-fab {
    height: 32px !important;
    width: 32px !important;
    margin: 0px;
    mat-icon {
      height: 20px;
      width: 20px;
      font-size: 20px;
      margin-top: -9px;
    }
  }
}
